<!-- {{b1}}
{{0.025 | percent}}
<p>{{7.120 | number: '0.4-6'}}</p>
<p>{{0.25 | currency :'INR'}}</p> -->

<!-- <div *ngIf="students.length>0;">
    Classes will be continued
</div>
<div *ngIf="students.length>0">
    Classes will be cancelled
</div> -->

<!-- <div *ngIf="students.length>0;else nill">
    Classes will be continued
</div>
<ng-template #nill>
    Classes will be cancelled
</ng-template> -->

<!-- <div *ngIf="students.length>0; then ok;else nill">
</div>
<ng-template #ok>
    Classes will be cancelled
</ng-template>
<ng-template #nill>
    Classes will be cancelled
</ng-template> -->

<!-- <div [hidden]="students.length==0">
    Classes will be continued
</div>
<div [hidden]="students.length>0">
    Classes will be cancelled
</div> -->

<!-- {{students}} -->

<!-- <div *ngFor="let s1 of students">
    {{students}}
</div> -->

<img src="assets/img1.jpg" class="img-thumbnail" alt="" width="200px" height="200px">
<img src="assets/img2.jpg" class="img-thumbnail" alt="" width="200px" height="200px">
<img src="assets/img3.jpg" class="img-thumbnail" alt="" width="200px" height="200px">