<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="" routerLinkActive="a1" [routerLinkActiveOptions]="{exact:true}">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="about" routerLinkActive="a1">About</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" routerLink="contact" routerLinkActive="a1">Contact</a>
        </li>
      </ul>
     
    </div>
  </nav>
<p>Welcome to the Angular Sessions {{name|uppercase}}</p>
{{name|titlecase}}
<p>{{f1}}</p>
{{f1|date}}
<p>{{f1|date:'medium'}}</p>
{{f1|date:'shortDate'}}
<p>{{'batch'|uppercase}}</p>
{{0.25|percent}}
<router-outlet></router-outlet>